@import "gradients.less";

@green : #007833;
@sidebargrey : #77787B;

body{
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p{
	font-family: "Helvetica Neue" Helvetica Arial serif;
}

.wrap{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

#topNavLogo{
	padding-right: 0px;
}

#topNav{
	.dropdown-toggle{
		color: white !important;
	}
	.divider{
		background: @sidebargrey;
		width: 1px;
		height: 50px;
	}
	.socialicon{
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 10px;

		&.first{
			padding-left: 10px;
		}

		&.search{
			padding-top: 20px;
			padding-right: 0;
			padding-left: 14px;
		}
	}
	font-size: 13px;
	padding-top: 25px;
}

#wrapper{
	margin-top: 50px;
}

#main{
	width: 720px;
	float: right;
}

#sidebar{
	float: left;
	width: 240px;

	.widget{
		margin-bottom: 25px;

		.title{
			.kreate.gradient(#429D67, #1D7A36);
			height: 30px;
			line-height: 30px;
			color: white;
			padding-left: 10px;
			margin: 0;
		}

		ul{
			list-style-type: none;
			padding: 0;

			.rightMenu{
				// float: right;
				// position: relative;
			}

			li{
				height: 25px;
				height: 100%;
				border-bottom: 1px solid lighten(@sidebargrey, 40%);

				a{
					line-height: 25px;
					color: @sidebargrey;
					font-weight: 200;
					height: 100%;
					width: 100%;
					display: block;
					padding-left: 10px;

					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}