@green : #007833;
@sidebargrey : #77787B;

.article{
	margin-bottom: 50px;

	&.media{
		img{
			width: 225px;
			height: 150px;
			background: url("assets/images/image-bg.png");
		}

		h5{
			margin-top: 0;
		}

		h3{
			margin-top: 15px;
		}

		a{
			color: @green;
			text-transform: uppercase;
		}

		&.hotspot{
			position: relative;

			.preferred{
				position: absolute;
				bottom: 0px;
				width: 129px !important;
				height: 86px !important;
			}
		}
	}

	&.two-up{

		float: left;
		width: 345px !important;
		margin-top: 0 !important;

		&:first-child{
			margin-right: 25px;
		}

		img{
			width: 345px;
			height: 230px;
			background: url("assets/images/image-bg.png");
		}
	}

	h2{
		color: @green;
		font-size: 22px;
	}

	h3{
		color: @green;
		font-size: 17px;
	}

	h5{
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	p{
		font-size: 14px;
		line-height: 21px;
	}

	a{
		color: @green;
		// text-transform: uppercase;
	}
}

.featured{
	img{
		width: 720px;
		height: 480px;
		background: url("assets/images/image-bg.png");
	}
}

.two-up-pair{
	overflow: hidden;
	width: 720px;
	margin-bottom: 0;
}