.slider{
	width: 720px;
	height: 480px;
	overflow: hidden;
	background: url("assets/images/image-bg.png");

	.slider_images{
		width: 3000px;
		height: 100%;
		line-height: 480px;

		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
}